html,body{background:#fff;margin:0;padding:0;font:15px/1.5 Helvetica Neue,Arial,sans-serif;color:#555}
a{color:#ffac5b;text-decoration:none}
a:hover{text-decoration:underline}
table{border-collapse:collapse;border:none}
tr,td{border:none;padding:0}
body > center{display:block;width:900px;margin:0 auto;}
body > center > table{width:100%;}
body > center > table > tbody > tr:first-child > td > table{background:#ff8937;color:#ffdcc3;font-weight:100;width:100%;}
body > center > table > tbody > tr:first-child > td > table td{padding:15px 0;}
body > center > table > tbody > tr:first-child > td > table td:first-child{width:30px;padding-left:20px;padding-right:10px;}
body > center > table > tbody > tr:first-child > td > table td:first-child a{display:block;width:30px;height:30px;background:#fff;border-radius:100%;}
body > center > table > tbody > tr:first-child > td > table td:first-child a:after{content:'Y';width:30px;height:30px;display:block;line-height:32px;text-align:center;font-size:22px;font-weight:200;color:#ff8937}
body > center > table > tbody > tr:first-child > td > table td:first-child a img{display:none}
body > center > table > tbody > tr:first-child > td > table td:nth-child(2) b{margin-right:25px;}
body > center > table > tbody > tr:first-child > td > table td:nth-child(2) b a{font-weight:400;letter-spacing:0}
body > center > table > tbody > tr:first-child > td > table td:nth-child(2) img{display:none}
body > center > table > tbody > tr:first-child > td > table td:nth-child(2) .pagetop > a,body > center > table > tbody > tr:first-child > td > table td:nth-child(2) .pagetop > .topsel{margin-right:10px}
body > center > table > tbody > tr:first-child > td > table td:last-child{text-align:right;padding-right:20px;}
body > center > table > tbody > tr:first-child > td > table td:last-child a[href^=logout]{margin-left:10px}
body > center > table > tbody > tr:first-child > td > table a{font-weight:100;letter-spacing:1px;color:#fbf9f7}
body > center > table > tbody > tr:nth-child(3) > td{padding:20px 20px 0 20px;}
body > center > table > tbody > tr:nth-child(3) > td > table{width:100%;font-weight:200;color:#999;}
body > center > table > tbody > tr:nth-child(3) > td > table a{color:#ff9a38}
body > center > table > tbody > tr:nth-child(3) > td td.title{padding:25px 0 5px 0;}
body > center > table > tbody > tr:nth-child(3) > td td.title + td{padding:22px 10px 3px 0}
body > center > table > tbody > tr:nth-child(3) > td td.subtext{font-size:13px}
