.hnspecial-infinite-pause{padding-left:5px;color:#828282 !important;}
.hnspecial-infinite-pause:before{content:'|';margin-right:5px}
.hnspecial-settings-button{display:inline-block;width:16px;height:16px;margin-right:10px;position:relative;top:3px;}
.hnspecial-settings-button img{opacity:.5;-webkit-transition:opacity 100ms ease;display:block !important}
.hnspecial-settings-button input[type=checkbox]{-webkit-appearance:none}
.hnspecial-settings-button-checkbox{width:16px;height:16px;border:none !important;position:absolute;top:0;left:0;z-index:2;cursor:pointer;padding:0 !important;margin:0;}
.hnspecial-settings-button-checkbox:hover ~ img{opacity:1}
.hnspecial-settings-button-checkbox:active ~ img{opacity:.5 !important}
.hnspecial-settings-button-checkbox:checked ~ img{opacity:1}
.hnspecial-settings-button-checkbox:checked ~ .hnspecial-settings-menu-container{opacity:1;top:24px;height:2000px;padding-top:10px;outline:1px solid rgba(255,137,55,0.004);-webkit-transition-delay:0,0,0,0,300ms;-webkit-transition-timing-function:ease-out}
.hnspecial-settings-menu-container{position:absolute;top:60px;left:-142px;width:300px;height:0;background:transparent;padding:0;overflow:hidden;box-sizing:border-box;font-weight:200;text-align:left;opacity:0;pointer-events:none;outline:none;-webkit-transition-timing-function:ease-out;-webkit-transition-property:opacity,top,height,padding,outline;-webkit-transition-duration:150ms,300ms,0,0,0;-webkit-transition-delay:0,0,300ms,300ms,0;}
.hnspecial-settings-menu-container:before{content:'';position:absolute;left:142px;top:3px;-webkit-transform:rotate(45deg);z-index:0;background:#f6e9d9;display:block;width:16px;height:16px}
.hnspecial-settings-menu-inner{width:100%;background:#f00;padding:20px;box-sizing:border-box;background:#f6e9d9;pointer-events:auto;line-height:1.5;color:#8a837c;}
.hnspecial-settings-menu-inner strong{font-weight:400;color:#6f6963;margin-bottom:109px}
.hnspecial-settings-menu-inner .hnspecial-settings-info{margin-top:5px}
.hnspecial-settings-menu-inner .hnspecial-settings-tip{margin-bottom:20px}
.hnspecial-settings-menu-inner p{font-size:13px;}
.hnspecial-settings-menu-inner p strong{color:#45423e !important;font-weight:500 !important}
.hnspecial-settings-menu-inner p a{color:#f19539 !important;font-weight:400 !important;letter-spacing:0 !important}
.hnspecial-settings-menu-inner .hnspecial-settings-block{margin-bottom:7px;-webkit-user-select:none;}
.hnspecial-settings-menu-inner .hnspecial-settings-block.hnspecial-settings-flash{position:relative;-webkit-animation:flash 200ms ease;-webkit-animation-delay:2s;-webkit-animation-iteration-count:4;}
.hnspecial-settings-menu-inner .hnspecial-settings-block.hnspecial-settings-flash label{color:#ff8e1d}
.hnspecial-settings-menu-inner .hnspecial-settings-block:after{content:'';display:block;clear:both}
.hnspecial-settings-menu-inner .hnspecial-settings-block label{display:block;float:left;width:88%;font-weight:200;color:#6f6963;cursor:pointer}
.hnspecial-settings-menu-inner .hnspecial-settings-block .hnspecial-settings-checkbox-container{display:block;float:right;width:12%;position:relative;}
.hnspecial-settings-menu-inner .hnspecial-settings-block .hnspecial-settings-checkbox-container input{display:block;position:absolute;z-index:2;top:0;left:0;width:100%;border:none;height:100%;cursor:pointer;}
.hnspecial-settings-menu-inner .hnspecial-settings-block .hnspecial-settings-checkbox-container input:not(checked) ~ .on{display:none}
.hnspecial-settings-menu-inner .hnspecial-settings-block .hnspecial-settings-checkbox-container input:not(checked) ~ .off{display:block}
.hnspecial-settings-menu-inner .hnspecial-settings-block .hnspecial-settings-checkbox-container input:checked ~ .on{display:block}
.hnspecial-settings-menu-inner .hnspecial-settings-block .hnspecial-settings-checkbox-container input:checked ~ .off{display:none}
.hnspecial-settings-menu-inner .hnspecial-settings-block .hnspecial-settings-checkbox-indicator{text-transform:uppercase;}
.hnspecial-settings-menu-inner .hnspecial-settings-block .hnspecial-settings-checkbox-indicator.on{color:#ff9e3c}
.hnspecial-settings-menu-inner .hnspecial-settings-block .hnspecial-settings-checkbox-indicator.off{color:#c4c1be}
.hnspecial-settings-menu-inner .hnspecial-settings-submit-button{cursor:pointer;width:100%;margin-top:20px}
.hnspecial-theme-link-flash,.hnspecial-theme-link-flash + tr{-webkit-animation:link-flash 1s ease}
body:not(.hnspecial-theme) .hnspecial-settings-container-cell{float:right;position:relative;top:0;margin-right:100px}
body.hnspecial-theme{background:#fff;margin:0;padding:0;font:15px/1.5 Helvetica Neue, Arial, sans-serif;color:#555;}
body.hnspecial-theme u{text-decoration:none}
body.hnspecial-theme a{color:#ffac5b;text-decoration:none}
body.hnspecial-theme a:hover{text-decoration:underline}
body.hnspecial-theme p{line-height:1.5;margin:0;margin-bottom:1em;color:#555;font-weight:200;word-wrap:break-word}
body.hnspecial-theme input,body.hnspecial-theme textarea{-webkit-appearance:none;border:1px solid #ccc;font:15px/1.5 Helvetica Neue, Arial, sans-serif;color:inherit;padding:5px 8px;margin:0;font-weight:200;}
body.hnspecial-theme input[type=submit],body.hnspecial-theme textarea[type=submit]{background:#ff8937;border:none;color:#fbf9f7;font:15px/1.5 Helvetica Neue, Arial, sans-serif;font-weight:200;cursor:pointer;}
body.hnspecial-theme input[type=submit]:active,body.hnspecial-theme textarea[type=submit]:active{color:#fff;background:#ff7718}
body.hnspecial-theme input:focus,body.hnspecial-theme textarea:focus{border-color:#aaa;outline:none}
body.hnspecial-theme textarea{width:600px;height:120px;resize:vertical}
body.hnspecial-theme pre{overflow:auto;max-width:600px;word-wrap:normal;white-space:pre}
body.hnspecial-theme code{font:12px/1.5 "Monaco","Consolas","Lucida Console","Courier New",monospace;color:#888}
body.hnspecial-theme table{border-collapse:collapse;border:none}
body.hnspecial-theme tr,body.hnspecial-theme td{border:none;padding:0}
body.hnspecial-theme.error{text-align:center;padding-top:140px;font-size:40px;font-weight:100;letter-spacing:1px;}
body.hnspecial-theme.error a{display:block;font-size:20px;font-weight:100}
body.hnspecial-theme .WordSection1{width:900px;margin:0 auto;padding:50px 0;}
body.hnspecial-theme .WordSection1 .MsoNormal{margin:15px 0}
body.hnspecial-theme .hnspecial-infinite-pause{padding:0;margin-left:20px;font-size:13px;text-transform:lowercase;color:#999;}
body.hnspecial-theme .hnspecial-infinite-pause:before{content:normal}
body.hnspecial-theme.hnspecial-form-page form td{font-weight:200;padding-bottom:20px;}
body.hnspecial-theme.hnspecial-form-page form td:first-child{text-transform:capitalize;padding-right:30px;}
body.hnspecial-theme.hnspecial-form-page form td:first-child.hnspecial-textarea-label{vertical-align:top;padding-top:8px}
body.hnspecial-theme.hnspecial-form-page form b{font-weight:200}
body.hnspecial-theme.hnspecial-form-page.login .hnspecial-form-container{width:300px;margin:0 auto;padding-top:100px;}
body.hnspecial-theme.hnspecial-form-page.login .hnspecial-form-container input[type=submit]{width:130px}
body.hnspecial-theme.hnspecial-form-page.login .hnspecial-form-container b{font-size:40px;font-weight:100;letter-spacing:1px}
body.hnspecial-theme.hnspecial-form-page.login .hnspecial-form-container td:last-child,body.hnspecial-theme.hnspecial-form-page.login .hnspecial-form-container td:last-child input{width:100%}
body.hnspecial-theme .hnspecial-theme-spacer-cell{overflow:hidden;position:relative}
body.hnspecial-theme .hnspecial-theme-spacer{position:absolute;top:0;bottom:0;left:7px;width:1px;background:#e1e1e1}
body.hnspecial-theme > center{display:block;max-width:900px;margin:0 auto;}
body.hnspecial-theme > center > table{width:100%;}
body.hnspecial-theme > center > table > tbody > tr:first-child > td > table{background:#ff8937;color:#ffdcc3;font-weight:100;width:100%;}
body.hnspecial-theme > center > table > tbody > tr:first-child > td > table b{font-weight:inherit;margin:0}
body.hnspecial-theme > center > table > tbody > tr:first-child > td > table td{padding:20px 0;}
body.hnspecial-theme > center > table > tbody > tr:first-child > td > table td:first-child{width:30px;padding-left:25px;padding-right:10px;}
body.hnspecial-theme > center > table > tbody > tr:first-child > td > table td:first-child a{display:block;width:30px;height:30px;background:#fff;border-radius:100%;}
body.hnspecial-theme > center > table > tbody > tr:first-child > td > table td:first-child a:after{content:'Y';width:31px;height:30px;display:block;line-height:32px;text-align:center;font-size:22px;font-weight:200;color:#ff8937}
body.hnspecial-theme > center > table > tbody > tr:first-child > td > table td:first-child a:hover{text-decoration:none}
body.hnspecial-theme > center > table > tbody > tr:first-child > td > table td:first-child a img{display:none}
body.hnspecial-theme > center > table > tbody > tr:first-child > td > table td:nth-child(2) font{display:inline-block;overflow:hidden;letter-spacing:1px;max-width:140px;white-space:nowrap;text-overflow:ellipsis}
body.hnspecial-theme > center > table > tbody > tr:first-child > td > table td:nth-child(2) b a{margin-right:25px;font-weight:400;letter-spacing:0}
body.hnspecial-theme > center > table > tbody > tr:first-child > td > table td:nth-child(2) img{display:none}
body.hnspecial-theme > center > table > tbody > tr:first-child > td > table td:nth-child(2) .pagetop > a,body.hnspecial-theme > center > table > tbody > tr:first-child > td > table td:nth-child(2) .pagetop > .topsel{margin-right:10px}
body.hnspecial-theme > center > table > tbody > tr:first-child > td > table td:nth-child(2) .pagetop .topsel a{font-weight:300}
body.hnspecial-theme > center > table > tbody > tr:first-child > td > table td:last-child{text-align:right;padding-right:25px;}
body.hnspecial-theme > center > table > tbody > tr:first-child > td > table td:last-child a[href^=logout]{margin-left:5px}
body.hnspecial-theme > center > table > tbody > tr:first-child > td > table a{font-weight:100;letter-spacing:1px;color:#fbf9f7}
body.hnspecial-theme > center > table > tbody > tr:nth-child(3) > td{padding:42px 20px 0 20px;}
body.hnspecial-theme > center > table > tbody > tr:nth-child(3) > td tr > td:nth-child(1):nth-last-child(4):not(:empty){padding:0 !important;padding-top:15px !important;}
body.hnspecial-theme > center > table > tbody > tr:nth-child(3) > td tr > td:nth-child(2):nth-last-child(3):not(:empty){padding:0 !important;padding-top:15px !important;padding-left:10px !important;width:100%;}
body.hnspecial-theme > center > table > tbody > tr:nth-child(3) > td tr > td:nth-child(3):nth-last-child(2):not(:empty){padding:0 !important;padding-top:15px !important;padding-right:30px !important}
body.hnspecial-theme > center > table > tbody > tr:nth-child(3) > td tr > td:nth-child(4):nth-last-child(1):not(:empty){padding:0 !important;padding-top:15px !important;}
body.hnspecial-theme > center > table > tbody > tr:nth-child(3) > td a[id^=up_],body.hnspecial-theme > center > table > tbody > tr:nth-child(3) > td a[id^=down_]{opacity:.3;display:inline-block;-webkit-transition:all 150ms ease;}
body.hnspecial-theme > center > table > tbody > tr:nth-child(3) > td a[id^=up_]:hover,body.hnspecial-theme > center > table > tbody > tr:nth-child(3) > td a[id^=down_]:hover{opacity:.6}
body.hnspecial-theme > center > table > tbody > tr:nth-child(3) > td a[id^=up_]:active,body.hnspecial-theme > center > table > tbody > tr:nth-child(3) > td a[id^=down_]:active{opacity:.3}
body.hnspecial-theme > center > table > tbody > tr:nth-child(3) > td > table:first-of-type{width:100%;font-weight:200;color:#999;}
body.hnspecial-theme > center > table > tbody > tr:nth-child(3) > td > table:first-of-type > tbody > tr:first-child > td:first-child:not(.hnspecial-upvote-button):not(.title) > center{padding:0 13px 3px 10px}
body.hnspecial-theme > center > table > tbody > tr:nth-child(3) > td > table:first-of-type > tbody > tr:first-child > td:nth-child(3):not(.title){padding-bottom:30px;line-height:1.5}
body.hnspecial-theme > center > table > tbody > tr:nth-child(3) > td > table:first-of-type > tbody tr td:first-child > a{display:block;padding-top:7px;padding-bottom:8px}
body.hnspecial-theme > center > table > tbody > tr:nth-child(3) > td > table:first-of-type > tbody form{padding-top:30px;margin:0;}
body.hnspecial-theme > center > table > tbody > tr:nth-child(3) > td > table:first-of-type > tbody form input[type=submit]{width:150px}
body.hnspecial-theme > center > table > tbody > tr:nth-child(3) > td .default{padding-top:20px;}
body.hnspecial-theme > center > table > tbody > tr:nth-child(3) > td .default .comhead,body.hnspecial-theme > center > table > tbody > tr:nth-child(3) > td .default u{font-weight:200;font-size:13px;color:#999}
body.hnspecial-theme > center > table > tbody > tr:nth-child(3) > td .hnspecial-poll-row + tr td{padding-top:5px;padding-bottom:20px}
body.hnspecial-theme > center > table > tbody > tr:nth-child(3) > td .hnspecial-upvote-button{padding-right:13px;vertical-align:top;}
body.hnspecial-theme > center > table > tbody > tr:nth-child(3) > td .hnspecial-upvote-button.poll center{padding-top:1px}
body.hnspecial-theme > center > table > tbody > tr:nth-child(3) > td .hnspecial-upvote-button center{padding-top:20px !important}
body.hnspecial-theme > center > table > tbody > tr:nth-child(3) > td td.comment{font-weight:200}
body.hnspecial-theme > center > table > tbody > tr:nth-child(3) > td td.title{padding:3px 0 5px 0;}
body.hnspecial-theme > center > table > tbody > tr:nth-child(3) > td td.title:last-child{width:100%}
body.hnspecial-theme > center > table > tbody > tr:nth-child(3) > td td.title + td{padding:0 13px 3px 10px}
body.hnspecial-theme > center > table > tbody > tr:nth-child(3) > td td.title a{color:#ff9227}
body.hnspecial-theme > center > table > tbody > tr:nth-child(3) > td td.title a:visited{color:#aaa}
body.hnspecial-theme > center > table > tbody > tr:nth-child(3) > td td.subtext{font-size:13px;padding-bottom:22px}
body.hnspecial-theme > center > table > tbody > tr:nth-child(4) > td{padding-top:30px;font-weight:200;font-size:13px;}
body.hnspecial-theme > center > table > tbody > tr:nth-child(4) > td .yclinks a{margin-right:10px}
body.hnspecial-theme > center > table > tbody > tr:nth-child(4) > td form input{width:400px;margin-left:10px}
body.hnspecial-theme.hnspecial-theme-high-contrast a{color:#ff8916;font-weight:400}
body.hnspecial-theme.hnspecial-theme-high-contrast .title a{font-weight:200;color:#111 !important;}
body.hnspecial-theme.hnspecial-theme-high-contrast .title a:visited{color:#777 !important}
body.hnspecial-theme.hnspecial-theme-high-contrast > center > table > tbody > tr:first-child > td > table{font-weight:200;}
body.hnspecial-theme.hnspecial-theme-high-contrast > center > table > tbody > tr:first-child > td > table a{font-weight:200}
body.hnspecial-theme.hnspecial-theme-high-contrast > center > table > tbody > tr:first-child > td > table .topsel a{font-weight:400 !important}
.hnspecial-mark-as-read-button{border:0;background-color:transparent;cursor:pointer;margin:0;margin-right:6px;padding:0 3px 0 0;}
.hnspecial-mark-as-read-button:hover{color:#3d3d3d}
.hnspecial-mark-as-read-button,.hnspecial-mark-as-read-button:active{color:#999}
@-moz-keyframes flash{0%{left:0}
25%{left:-12px}
50%{left:0}
75%{left:12px}
100%{left:0}
}@-webkit-keyframes flash{0%{left:0}
25%{left:-12px}
50%{left:0}
75%{left:12px}
100%{left:0}
}@-o-keyframes flash{0%{left:0}
25%{left:-12px}
50%{left:0}
75%{left:12px}
100%{left:0}
}@-ms-keyframes flash{0%{left:0}
25%{left:-12px}
50%{left:0}
75%{left:12px}
100%{left:0}
}@keyframes flash{0%{left:0}
25%{left:-12px}
50%{left:0}
75%{left:12px}
100%{left:0}
}@-moz-keyframes link-flash{0%{opacity:.2;-webkit-transform:translateX(1000px)}
100%{opacity:1;-webkit-transform:translateX(0)}
}@-webkit-keyframes link-flash{0%{opacity:.2;-webkit-transform:translateX(1000px)}
100%{opacity:1;-webkit-transform:translateX(0)}
}@-o-keyframes link-flash{0%{opacity:.2;-webkit-transform:translateX(1000px)}
100%{opacity:1;-webkit-transform:translateX(0)}
}@-ms-keyframes link-flash{0%{opacity:.2;-webkit-transform:translateX(1000px)}
100%{opacity:1;-webkit-transform:translateX(0)}
}@keyframes link-flash{0%{opacity:.2;-webkit-transform:translateX(1000px)}
100%{opacity:1;-webkit-transform:translateX(0)}
}