base-color = #ff8937
text-color = #555
link-color = #ffac5b
light-link-color = #fbf9f7
base-font = "15px/1.5 Helvetica Neue, Arial, sans-serif"

/* Base styles */
html, body
    background #fff
    margin 0
    padding 0
    font unquote(base-font)
    color text-color

a
    color link-color
    text-decoration none

a:hover
    /*color #fdbe80*/
    text-decoration underline

input, textarea
    -webkit-appearance none
    -moz-appearance none

    border 1px solid lighten(text-color, 70%)
    font unquote(base-font)
    color inherit
    padding 5px 8px
    margin 0
    font-weight 200

    &[type=submit]
        background base-color
        border none
        color light-link-color
        font unquote(base-font)
        font-weight 200

    &:focus
        border-color lighten(text-color, 50%)
        outline none

// 832
textarea
    width 600px
    height 120px
    resize vertical

table
    border-collapse collapse
    border none

tr, td
    border none
    padding 0


// Some selectors are pretty contrived but I think it's the only
// way to select some things. Please correct me if I'm wrong!
body
    &.error
        text-align center
        padding-top 140px
        font-size 40px
        font-weight 100
        letter-spacing 1px

        a
            display block
            font-size 20px
            font-weight 100
            
    // Secondary pages
    .WordSection1 
        width 900px
        margin 0 auto
        padding 50px 0

        .MsoNormal
            margin 15px 0

    // Primary pages
    > center
        display block
        width 900px
        margin 0 auto

        > table
            width 100%

            // Header
            > tbody 
                > tr:first-child > td > table
                    background base-color
                    color lighten(base-color, 70%)
                    font-weight 100
                    width 100%

                    td
                        padding 15px 0

                        // Logo td
                        &:first-child
                            square-size = 30px
                            width square-size

                            padding-left 20px
                            padding-right 10px

                            a
                                display block
                                width square-size
                                height square-size
                                background #fff
                                border-radius 100%

                                &:after
                                    content 'Y'
                                    width square-size
                                    height square-size
                                    display block
                                    line-height square-size + 2px
                                    text-align center
                                    font-size 22px
                                    font-weight 200
                                    color base-color

                                img
                                    display none

                        // Title and links td
                        &:nth-child(2)
                            b
                                margin-right 25px
                                a
                                    font-weight 400
                                    letter-spacing 0px

                            // Remove spacer gif
                            img
                                display none

                            .pagetop
                                > a, > .topsel
                                    margin-right 10px

                        // User td
                        &:last-child
                            text-align right
                            padding-right 20px

                            a[href^=logout]
                                margin-left 10px

                    a
                        font-weight 100
                        letter-spacing 1px
                        color light-link-color

                > tr:nth-child(3) > td
                    padding 42px 20px 0 20px

                    > table
                        width 100%
                        font-weight 200
                        color lighten(text-color, 40%)

                        > tbody 

                        > tbody
                            > tr:first-child > td:first-child:not(.title)
                                padding 0px 10px 3px 0 // Refactor: same as #1
                            
                            > tr:nth-child(6) td
                                padding-top 30px

                                input[type=submit]                     
                                    width 150px

                        // Self posts
                        p
                            line-height 1.5
                            margin 0
                            margin-bottom 1em


                    td.title
                        padding 3px 0 5px 0

                        + td
                            padding 0px 10px 3px 0 // Refactor: same as #1

                        a
                            color darken(link-color, 10%)

                        a:visited
                            color lighten(link-color, 50%)

                    td.subtext
                        font-size 13px
                        padding-bottom 22px

                > tr:nth-child(4) > td
                    padding-top 40px
                    font-weight 200
                    font-size 13px

                    .yclinks a
                            margin-right 10px
                            

                    form input
                        width 400px
                        margin-left 10px
