@-webkit-keyframes slide-in {
    from {
        opacity: 0;
        top: 400px;
    }

    to {
        opacity: 1;
        top: 0px;
    }
}

@-moz-keyframes slide-in {
    from {
        opacity: 0;
        top: 400px;
    }

    to {
        opacity: 1;
        top: 0px;
    }
}

html, body {
    margin: 0;
    padding: 0;
    background: #e8e3df;
    font: 15px/1.68 Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #666;
    font-weight: 200;
}

h1 {
    margin-top: 0;
    font-size: 80px;
    font-weight: 100;
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
    font-weight: 100;
    margin-bottom: 40px;
    color: #888;
}

ul {
    margin-top: 10px;
    margin-bottom: 20px;
}

ul li {
    margin-bottom: 4px;
}

p {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    font-weight: 400;
    color: #333;
}

a:hover {
    text-decoration: underline;
}

strong {
    font-weight: 500;
}

.top {
    width: 1000px;
    margin: 0 auto;
    padding-top: 30px;
}

.top h1, .top h2 {
    text-align: center;
}

.fork-link {
    position: fixed;
    z-index: 2;
    display: block;
    right: -180px;
    top: 80px;
    width: 600px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1px;
    background: #ff8937;
    color: #eee;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

.introduction {
    display: block;
    width: 500px;
    margin: 0 auto;
}

.install-link {
    text-align: center;
    display: block;
    margin-top: 26px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 1px;
    color: #ff8937;
}

.screen {
    width: 1224px;
    margin: 0 auto;
    position: relative;
    margin-top: 40px;
}

.screen img {
    display: block;
    position: absolute;
    z-index: 1;
    -webkit-animation: slide-in 1500ms ease;
    -webkit-animation-fill-mode: both;
    -webkit-animation-delay: 200ms;
    -moz-animation: slide-in 1500ms ease;
    -moz-animation-fill-mode: both;
    -moz-animation-delay: 200ms;
}

.sharing {
    text-align: center;
}


div.fb-like {
    display: inline-block;
}
