@keyframes link-flash
    from
        opacity 0.2
        transform translateX(1000px)

    to
        opacity 1
        transform translateX(0px)

// Used by highlight_links_when_returning
.hnspecial-theme-link-flash
    &, & + tr
        animation link-flash 1s ease

// Place the gear icon properly in some instances
html:not($theme-name)
    .hnspecial-settings-container-cell
        float right
        position relative
        top 0
        margin-right 100px

html.hnspecial-theme
    body
        display block

    &, body
        background page-background-color
        margin 0
        padding 0
        font unquote(base-font)
        color text-color

    u
        text-decoration none

    a
        color link-color
        text-decoration none

    a:hover
        /*color #fdbe80*/
        text-decoration underline

    // Settings menu
    .hnspecial-settings-cancel-button
        background-color desaturate(darken(menu-background, 20%), 80%) !important

    // Used in posts and comments
    p
        line-height 1.5
        margin 0
        margin-bottom 1em
        color lighten(text-color, 0%)
        font-weight 200
        word-wrap break-word

    textarea, input[type="text"]
        font unquote(base-font)
        color inherit
        padding 5px 8px
        margin 0
        font-weight 200

    input
        &[type=submit], &[type=button]
            @extend $hnspecial-button

    button.hnspecial-button
        @extend $hnspecial-button

    input, button
        &:focus
            outline none

    textarea
        width 100%
        height 120px
        resize vertical

    textarea, input[type="text"], input[type="password"]
        color text-color
        background darken(page-background-color, 20%)
        border 1px solid darken(page-background-color, 50%)

    // Pre and code tags can stretch the page if not limited
    pre
        overflow auto
        max-width 600px
        word-wrap normal
        white-space pre

    code
        font 12px/1.5 "Monaco", "Consolas", "Lucida Console", "Courier New", monospace
        color lighten(text-color, 30%)

    table
        border-collapse collapse
        border none

    tr, td
        border none
        padding 0

    // Some selectors are pretty contrived but I think it's the only
    // way to select some things. Please correct me if I'm wrong!
    &.error body
        text-align center
        padding-top 140px
        font-size 40px
        font-weight 100
        letter-spacing 1px

        a
            display block
            font-size 20px
            font-weight 100

    // Secondary pages
    .WordSection1
        width 900px
        margin 0 auto
        padding 50px 0

        .MsoNormal
            margin 15px 0

    // HN Special infinite scroll
    .hnspecial-infinite-pause
        padding 0
        margin-left 20px
        font-size 13px
        text-transform lowercase
        color lighten(text-color, 40%)
        &:before
            content normal

    &.hnspecial-form-page
        form
            td
                font-weight 200
                padding-bottom 20px

                &:first-child
                    text-transform capitalize
                    padding-right 30px

                    &.hnspecial-textarea-label
                        vertical-align top
                        padding-top 8px

            b
                font-weight 200

        &.login .hnspecial-form-container
            width 300px
            margin 0 auto
            padding-top 100px

            input[type=submit]
                width 130px

            b
                font-size 40px
                font-weight 100
                letter-spacing 1px

            td:last-child
                &, input
                    width 100%

    // Comment spacers
    .hnspecial-theme-spacer-cell
        overflow hidden
        position relative

    .hnspecial-theme-spacer
        position absolute
        top 0
        bottom 0
        left 7px
        width 1px
        background comment-spacer-color

    div.votearrow
        width 10px !important
        height 10px !important

    .nosee
        visibility: hidden;
        pointer-events: none;
        cursor: default;

    .noshow
        display: none;

    // Shows HN Special color next to topcolor input
    input[name="topcolor"] + p
        margin-left 20px
        strong
            font-weight 400
        &, pre
            display inline

    // Topcolors in topcolors page
    .hnspecial-theme-topcolor-preview
        width 17px
        height 17px
        margin-left 20px
        display inline-block
        position absolute
        left 100px

    // Primary pages
    body > center
        display block
        max-width 900px
        margin 0 auto // Add an option to disable this

        > table
            width 100%

            // Header
            > tbody
                > tr:first-child > td
                    background base-color !important

                    > table
                        color light-link-color
                        font-weight 100
                        width 100%

                        b
                            font-weight inherit
                            margin 0

                        td
                            padding 20px 0

                            // Logo td
                            &:first-child
                                square-size = 30px
                                width square-size

                                padding-left 25px
                                padding-right 10px

                                a
                                    display block
                                    width square-size
                                    height square-size
                                    // background #fff
                                    // border-radius 100%

                                    // &:after
                                    //     content 'Y'
                                    //     width square-size + 1px
                                    //     height square-size
                                    //     display block
                                    //     line-height square-size + 2px
                                    //     text-align center
                                    //     font-size 22px
                                    //     font-weight 200
                                    //     color base-color

                                    &:hover
                                        text-decoration none

                                    // img
                                    //     display none

                            // Title and links td
                            &:nth-child(2)
                                font
                                    display inline-block
                                    overflow hidden
                                    letter-spacing 1px
                                    max-width 140px
                                    white-space nowrap
                                    text-overflow ellipsis

                                b a
                                        margin-right 25px
                                        font-weight 400
                                        letter-spacing 0px

                                // Remove spacer gif
                                img
                                    display none

                                .pagetop
                                    > a, > .topsel
                                        margin-right 10px

                                    .topsel a
                                        font-weight 300

                            // User td
                            &:last-child
                                text-align right
                                padding-right 25px

                                a[href^=logout]
                                    margin-left 5px

                        a
                            font-weight 100
                            letter-spacing 1px
                            color light-link-color

                // Contents
                > tr:nth-child(3) > td
                    padding 42px 20px 0 20px

                    tr >
                        // It's the only proper way to style the leaderboard tables
                        columns = 4
                        for num in (1..columns)
                            td:nth-child({num}):nth-last-child({columns - num + 1}):not(:empty)
                                padding 0 !important
                                padding-top 15px !important
                                if num == 2
                                    padding-left 10px !important
                                    width 100%

                                if num == 3
                                    padding-right 30px !important

                    // Upvote/downvote arrow
                    a[id^=up_], a[id^=down_]
                        opacity 0.3
                        display inline-block
                        transition all 150ms ease

                        &:hover
                            opacity 0.6
                            // -webkit-transform scale(1.7)

                        &:active
                            opacity 0.3
                            // -webkit-transform scale(1)

                    // Post area
                    > table:first-of-type
                        width 100%
                        font-weight 200
                        color lighten(text-color, 40%)

                        > tbody
                            > tr:first-child >
                                td:first-child:not(.hnspecial-upvote-button):not(.title) > center // Arrow td next to title in comments page
                                    padding 0px 13px 3px 10px // Refactor: same as #1

                                td:nth-child(3):not(.title) // Heading above job listings page
                                    padding-bottom 30px
                                    line-height 1.5

                            // Add spacing to leaders table
                            tr td:first-child
                                > a
                                    display block
                                    padding-top 7px
                                    padding-bottom 8px


                            form
                                padding-top 30px
                                margin 0

                                input[type=submit]
                                    width 150px

                    // Comments
                    .default
                        padding-top 20px

                        font[color="#737373"]
                            color text-showdead-color

                        font[color="#888888"],
                        font[color="#5a5a5a"],
                        font[color="#000000"]
                            color text-color

                        // Comment info & reply button
                        .comhead, u
                            font-weight 200
                            font-size 13px
                            color lighten(text-color, 40%)

                            font[color="#3c963c"]
                                color text-new-user-color

                    // Custom class added to poll items
                    .hnspecial-poll-row + tr td
                        padding-top 5px
                        padding-bottom 20px

                    // Custom class added by js on the comment upvote button
                    .hnspecial-upvote-button
                        padding-right 13px
                        vertical-align top

                        &.poll center
                            padding-top 1px

                        center
                            padding-top 20px !important

                    td.comment
                        // background red
                        font-weight 200

                    td.title
                        padding 3px 0 5px 0

                        &:last-child
                            width 100%

                        + td
                            // padding 0px 10px 3px 0
                            padding 0px 13px 3px 10px // Refactor: same as #1

                        a
                            color link-color

                            &:visited
                                color link-visited-color

                    td.subtext
                        font-size 13px
                        padding-bottom 22px

                        font[color="#3c963c"]
                            color text-new-user-color

                > tr:nth-child(4) > td
                    padding-top 30px
                    font-weight 200
                    font-size 13px

                    .yclinks a
                            margin-right 10px

                    form input
                        width 400px
                        margin-left 10px
                        background darken(page-background-color, 20%)
                        border 1px solid darken(page-background-color, 50%)

    // Gray visited links
    &.hnspecial-theme-gray-visited-links
        .title a
            &:visited
                color #aaa !important

    // Mark all as read
    table:hover + .hnspecial-mark-all-as-read-container, .hnspecial-mark-all-as-read-container:hover
        height 50px
        padding-top 20px
        opacity 1

    .hnspecial-mark-all-as-read-container
        opacity 0
        width 100%
        font-weight 200
        padding-left 18px
        color light-link-color

        button
            @extend $text-button
            @extend $hnspecial-text-button
            color light-link-color
            margin-left 10px

    // Infinite scrolling separator
    .hnspecial-infinite-scroll-separator
        span
            margin 0
            position absolute
            font-size 13px
            background comment-spacer-color
            right 15px
            top -9px
            padding 0 10px

        td
            position relative

            &:after
                margin-top 0
                height 20px

    // Fold comments button
    .hnspecial-fold-comment-button
        @extend $hnspecial-text-button

    // Fixed header
    &.hnspecial-theme-sticky-header
        .hnspecial-mark-all-as-read-container
            width 900px
            margin 0 auto
            padding-left 25px !important
            padding-top 0px !important
            color white !important

            button
                color white !important
                font-weight 300 !important

        table:hover + .hnspecial-mark-all-as-read-container,
        .hnspecial-mark-all-as-read-container:hover
            height 35px

        .hnspecial-message-container
            padding-top 15px
            padding-bottom 5px

        body > center > table > tbody > tr:first-child
            height: (30px + (20px * 2))

            > td
                position fixed
                top 0
                left 0
                width 100%
                z-index 10 // Must be the topmost element on the page
                // background base-color

                > table
                    max-width 900px
                    margin 0 auto

    &.hnspecial-permissions-iframe-inner
        background transparent
        overflow hidden

        body
            background transparent

            .hnspecial-settings-menu-inner
                padding 0

        .permissions-description
            display block
            // margin-bottom 5px

        button
            width 100%
