// Colors
base-color = #ff8937
text-color = #555555
link-color = #ffac5b
link-visited-color = lighten(base-color, 20%)
page-background-color = #ffffff
light-link-color = #fbf9f7
text-button-color = #828282
text-button-active-color = #ffffff

//HN Special menu
menu-background = #f6e9d9
menu-color = #8a837c
settings-on-color = base-color
settings-off-color = #999999

// Comments
comment-spacer-color = #e1e1e1
text-new-user-color = #7f9c60
text-showdead-color = #d3d3d3

// Tooltips
tooltip-text-color = #ffffff
tooltip-background-color = rgba(#000000, 0.8)

base-font = "15px/1.5 Helvetica Neue, Arial, sans-serif"

// HN Special menu
button-size = 16px
menu-width = 300px

@import "_theme"
