// Colors
base-color = #cc6633
text-color = #a59f85
link-color = #cc6633
page-background-color = #222222
light-link-color = #fbf9f7
text-button-color = #a59f85
text-button-active-color = #ffffff

//HN Special menu
menu-background = #333333
menu-color = #f8f8f2
text-settings-link-color = #cc6633
text-settings-highlight-color = #cc6633
text-settings-disabled-color = #111111

// Comments
comment-spacer-color = #383830
text-new-user-color = #7f9c60
text-showdead-color = #333333

// Tooltips
tooltip-text-color = #333333
tooltip-background-color = rgba(#f5f4f1, 0.8)

base-font = "15px/1.5 Helvetica Neue, Arial, sans-serif"

// HN Special menu
button-size = 16px
menu-width = 300px

@import "_theme"
