// Colors
base-color = #ff8937
text-color = #555555
link-color = #ffac5b
page-background-color = #ffffff
light-link-color = #fbf9f7
text-button-color = #828282
text-button-active-color = #ffffff

//HN Special menu
menu-background = #f6e9d9
menu-color = #8a837c
text-settings-link-color = #f19539
text-settings-highlight-color = #ff9e3c
text-settings-disabled-color = #c0c0c0

// Comments
comment-spacer-color = #e1e1e1
text-new-user-color = #7f9c60
text-showdead-color = #d3d3d3

// Tooltips
tooltip-text-color = #ffffff
tooltip-background-color = rgba(#000000, 0.8)

base-font = "15px/1.5 Helvetica Neue, Arial, sans-serif"

// Animations
@keyframes flash
    0%
        left 0px

    25%
        left -12px

    50%
        left 0px

    75%
        left 12px

    100%
        left 0px

@keyframes link-flash
    from
        opacity 0.2
        transform translateX(1000px)

    to
        opacity 1
        transform translateX(0px)

@keyframes slide-up
    from
        bottom -200px
        opacity 0

    60%
        bottom 90px
        opacity 1

    to
        bottom 30px
        opacity 1

@keyframes slide-out-right
    from
        right 20px
        opacity 1

    60%
        right 80px
        opacity 1

    to
        right -500px
        opacity 0

// Generic buttons (abstract styles)
$text-button
    font inherit
    border none
    font-weight 200
    background none
    cursor pointer
    margin 0
    padding 0
    color text-button-color

    &:hover
        text-decoration underline

$hnspecial-text-button
    color link-color

$hnspecial-button
    // border 1px solid lighten(text-color, 70%)
    font unquote(base-font)
    padding 5px 8px
    margin 0
    font-weight 200

    background base-color
    border none
    color light-link-color
    cursor pointer

    &:active
        color text-button-active-color
        background darken(base-color, 10%)


// HN Special infinite scroll
.hnspecial-infinite-pause
    padding-left 5px
    color text-button-color !important
    &:before
        content '|'
        margin-right 5px

// HN Special menu
button-size = 16px
menu-width = 300px

.hnspecial-settings-button
    display inline-block

    width button-size
    height button-size
    margin-right 10px
    // Adjust position
    position relative
    top 3px

    img
        opacity .5
        transition opacity 100ms ease
        display block !important

    input[type="checkbox"]
        opacity 0

.hnspecial-settings-button-checkbox
    width button-size
    height button-size
    border none !important
    position absolute
    top 0
    left 0
    z-index 2
    cursor pointer
    padding 0px !important
    margin 0

    &:hover ~ img
        opacity 1

    &:active ~ img
        opacity 0.5 !important

    &:checked ~
        img
            opacity 1

        .hnspecial-settings-menu-container
            opacity 1
            top 24px
            height 2000px
            padding-top 10px

            transition-delay 0ms, 0ms, 0ms, 0ms, 300ms
            transition-timing-function ease-out

.hnspecial-settings-menu-container
    position absolute
    top 60px
    left -(menu-width/2 - button-size/2)
    width menu-width
    height 0px
    background transparent
    padding 0px
    overflow hidden
    box-sizing border-box
    font-weight 200
    text-align left
    opacity 0
    pointer-events none
    outline none

    transition-timing-function ease-out
    transition-property opacity, top, height, padding, outline
    transition-duration 150ms, 300ms, 0ms, 0ms, 0ms
    transition-delay 0ms, 0ms, 300ms, 300ms, 0ms

    &:before
        content ''
        position absolute
        left (menu-width/2 - button-size/2)
        top 3px
        transform rotate(45deg)
        z-index 0
        background menu-background
        display block
        width button-size
        height button-size

.hnspecial-settings-menu-inner
    width 100%
    padding 20px
    box-sizing border-box
    background menu-background
    pointer-events auto
    line-height 1.5
    color menu-color

    strong
        font-weight 400
        color darken(menu-color, 20%)
        margin-bottom 109px

    p
        font-size 13px

        strong
            color darken(menu-color, 50%) !important
            font-weight 500 !important

        a
            color text-settings-link-color !important
            font-weight 400 !important
            letter-spacing 0px !important

    .hnspecial-settings-info
        margin-top 5px

    .hnspecial-settings-tip
        @extend .hnspecial-settings-menu-inner p
        margin-bottom 20px
        overflow hidden

        button
            @extend $text-button
            @extend $hnspecial-text-button
            display block
            float right
            font-weight 400

    .hnspecial-settings-block
        margin-bottom 7px
        -webkit-user-select none
        -moz-user-select none

        &.hnspecial-settings-flash
            position relative
            animation flash 200ms ease
            animation-delay 2s
            animation-iteration-count 4

            label
                color darken(text-settings-highlight-color, 10%)

        &:after
            content ''
            display block
            clear both

        label
            display block
            float left
            width 88%
            font-weight 200
            color darken(menu-color, 20%)
            cursor pointer

        .hnspecial-settings-checkbox-container
            display block
            float right
            width 12%
            //text-align right
            position relative

            input
                display block
                position absolute
                z-index 2
                top 0
                left 0
                width 100%
                border none
                height 100%
                cursor pointer

                &:not(checked) ~
                    .on
                        display none

                    .off
                        display block

                &:checked ~
                    .on
                        display block

                    .off
                        display none

        .hnspecial-settings-checkbox-indicator
            text-transform uppercase
            //font-weight 400

            &.on
                color text-settings-highlight-color

            &.off
                color lighten(menu-color, 50%)

    .hnspecial-settings-submit-button, .hnspecial-settings-cancel-button
        cursor pointer
        width 125px
        margin-top 20px !important

    .hnspecial-settings-cancel-button
        margin-left 10px !important
        background-color text-settings-disabled-color !important

        &:active
            background-color darken(text-settings-disabled-color, 5%) !important

// Used by highlight_links_when_returning
.hnspecial-theme-link-flash
    &, & + tr
        animation link-flash 1s ease

// Place the gear icon properly in some instances
html:not(.hnspecial-theme)
    .hnspecial-settings-container-cell
        float right
        position relative
        top 0
        margin-right 100px

// HNSpecial theme styles
html.hnspecial-theme-preload body
    display none

html.hnspecial-theme
    body
        display block

    &, body
        background page-background-color
        margin 0
        padding 0
        font unquote(base-font)
        color text-color

    u
        text-decoration none

    a
        color link-color
        text-decoration none

    a:hover
        /*color #fdbe80*/
        text-decoration underline

    // Used in posts and comments
    p
        line-height 1.5
        margin 0
        margin-bottom 1em
        color lighten(text-color, 0%)
        font-weight 200
        word-wrap break-word

    textarea, input[type="text"]
        border 1px solid lighten(text-color, 70%)
        font unquote(base-font)
        color inherit
        padding 5px 8px
        margin 0
        font-weight 200

    input
        &[type=submit], &[type=button]
            @extend $hnspecial-button

    button.hnspecial-button
        @extend $hnspecial-button

    input, button
        &:focus
            outline none




    // 832
    textarea
        width 600px
        height 120px
        resize vertical

    // Pre and code tags can stretch the page if not limited
    pre
        overflow auto
        max-width 600px
        word-wrap normal
        white-space pre

    code
        font 12px/1.5 "Monaco", "Consolas", "Lucida Console", "Courier New", monospace
        color lighten(text-color, 30%)

    table
        border-collapse collapse
        border none

    tr, td
        border none
        padding 0

    // Some selectors are pretty contrived but I think it's the only
    // way to select some things. Please correct me if I'm wrong!
    &.error body
        text-align center
        padding-top 140px
        font-size 40px
        font-weight 100
        letter-spacing 1px

        a
            display block
            font-size 20px
            font-weight 100

    // Secondary pages
    .WordSection1
        width 900px
        margin 0 auto
        padding 50px 0

        .MsoNormal
            margin 15px 0

    // HN Special infinite scroll
    .hnspecial-infinite-pause
        padding 0
        margin-left 20px
        font-size 13px
        text-transform lowercase
        color lighten(text-color, 40%)
        &:before
            content normal

    &.hnspecial-form-page
        form
            td
                font-weight 200
                padding-bottom 20px

                &:first-child
                    text-transform capitalize
                    padding-right 30px

                    &.hnspecial-textarea-label
                        vertical-align top
                        padding-top 8px

            b
                font-weight 200

        &.login .hnspecial-form-container
            width 300px
            margin 0 auto
            padding-top 100px

            input[type=submit]
                width 130px

            b
                font-size 40px
                font-weight 100
                letter-spacing 1px

            td:last-child
                &, input
                    width 100%

    // Comment spacers
    .hnspecial-theme-spacer-cell
        overflow hidden
        position relative

    .hnspecial-theme-spacer
        position absolute
        top 0
        bottom 0
        left 7px
        width 1px
        background comment-spacer-color

    div.votearrow
        width 10px !important
        height 10px !important

    // Shows HN Special color next to topcolor input
    input[name="topcolor"] + p
        margin-left 20px
        strong
            font-weight 400
        &, pre
            display inline

    // Topcolors in topcolors page
    .hnspecial-theme-topcolor-preview
        width 17px
        height 17px
        margin-left 20px
        display inline-block
        position absolute
        left 100px

    // Primary pages
    body > center
        display block
        max-width 900px
        margin 0 auto // Add an option to disable this

        > table
            width 100%

            // Header
            > tbody
                > tr:first-child > td
                    background base-color

                    > table
                        color light-link-color
                        font-weight 100
                        width 100%

                        b
                            font-weight inherit
                            margin 0

                        td
                            padding 20px 0

                            // Logo td
                            &:first-child
                                square-size = 30px
                                width square-size

                                padding-left 25px
                                padding-right 10px

                                a
                                    display block
                                    width square-size
                                    height square-size
                                    // background #fff
                                    // border-radius 100%

                                    // &:after
                                    //     content 'Y'
                                    //     width square-size + 1px
                                    //     height square-size
                                    //     display block
                                    //     line-height square-size + 2px
                                    //     text-align center
                                    //     font-size 22px
                                    //     font-weight 200
                                    //     color base-color

                                    &:hover
                                        text-decoration none

                                    // img
                                    //     display none

                            // Title and links td
                            &:nth-child(2)
                                font
                                    display inline-block
                                    overflow hidden
                                    letter-spacing 1px
                                    max-width 140px
                                    white-space nowrap
                                    text-overflow ellipsis

                                b a
                                        margin-right 25px
                                        font-weight 400
                                        letter-spacing 0px

                                // Remove spacer gif
                                img
                                    display none

                                .pagetop
                                    > a, > .topsel
                                        margin-right 10px

                                    .topsel a
                                        font-weight 300

                            // User td
                            &:last-child
                                text-align right
                                padding-right 25px

                                a[href^=logout]
                                    margin-left 5px

                        a
                            font-weight 100
                            letter-spacing 1px
                            color light-link-color

                // Contents
                > tr:nth-child(3) > td
                    padding 42px 20px 0 20px

                    tr >
                        // It's the only proper way to style the leaderboard tables
                        columns = 4
                        for num in (1..columns)
                            td:nth-child({num}):nth-last-child({columns - num + 1}):not(:empty)
                                padding 0 !important
                                padding-top 15px !important
                                if num == 2
                                    padding-left 10px !important
                                    width 100%

                                if num == 3
                                    padding-right 30px !important

                    // Upvote/downvote arrow
                    a[id^=up_], a[id^=down_]
                        opacity 0.3
                        display inline-block
                        transition all 150ms ease

                        &:hover
                            opacity 0.6
                            // -webkit-transform scale(1.7)

                        &:active
                            opacity 0.3
                            // -webkit-transform scale(1)

                    // Post area
                    > table:first-of-type
                        width 100%
                        font-weight 200
                        color lighten(text-color, 40%)

                        > tbody
                            > tr:first-child >
                                td:first-child:not(.hnspecial-upvote-button):not(.title) > center // Arrow td next to title in comments page
                                    padding 0px 13px 3px 10px // Refactor: same as #1

                                td:nth-child(3):not(.title) // Heading above job listings page
                                    padding-bottom 30px
                                    line-height 1.5

                            // Add spacing to leaders table
                            tr td:first-child
                                > a
                                    display block
                                    padding-top 7px
                                    padding-bottom 8px


                            form
                                padding-top 30px
                                margin 0

                                input[type=submit]
                                    width 150px

                    // Comments
                    .default
                        padding-top 20px

                        font[color="#737373"]
                            color text-showdead-color

                        font[color="#000000"]
                            color text-color

                        // Comment info & reply button
                        .comhead, u
                            font-weight 200
                            font-size 13px
                            color lighten(text-color, 40%)

                            font[color="#3c963c"]
                                color text-new-user-color

                    // Custom class added to poll items
                    .hnspecial-poll-row + tr td
                        padding-top 5px
                        padding-bottom 20px

                    // Custom class added by js on the comment upvote button
                    .hnspecial-upvote-button
                        padding-right 13px
                        vertical-align top

                        &.poll center
                            padding-top 1px

                        center
                            padding-top 20px !important

                    td.comment
                        // background red
                        font-weight 200

                    td.title
                        padding 3px 0 5px 0

                        &:last-child
                            width 100%

                        + td
                            // padding 0px 10px 3px 0
                            padding 0px 13px 3px 10px // Refactor: same as #1

                        a
                            color darken(link-color, 15%)

                            &:visited
                                color lighten(link-color, 20%)

                    td.subtext
                        font-size 13px
                        padding-bottom 22px

                        font[color="#3c963c"]
                            color text-new-user-color

                > tr:nth-child(4) > td
                    padding-top 30px
                    font-weight 200
                    font-size 13px

                    .yclinks a
                            margin-right 10px

                    form input
                        width 400px
                        margin-left 10px

    // High contrast version
    &.hnspecial-theme-high-contrast
        a
            color darken(link-color, 20%)
            font-weight 400

        .title a
            font-weight 400
            color #444 !important

            &:visited
                color #777 !important

        body > center > table > tbody > tr:first-child > td > table
            // color darken(base-color, 60%)
            font-weight 200

            a
                // color darken(base-color, 70%)
                font-weight 200

            .topsel a
                font-weight 400 !important

        .hnspecial-mark-all-as-read-container
            color #777

    // Gray visited links
    &.hnspecial-theme-gray-visited-links
        .title a
            &:visited
                color #aaa !important

    // Mark all as read
    table:hover + .hnspecial-mark-all-as-read-container, .hnspecial-mark-all-as-read-container:hover
        height 50px
        padding-top 20px
        opacity 1

    .hnspecial-mark-all-as-read-container
        opacity 0
        width 100%
        font-weight 200
        padding-left 18px
        color lighten(text-color, 40%)

        button
            @extend $text-button
            @extend $hnspecial-text-button
            margin-left 10px

    // Infinite scrolling separator
    .hnspecial-infinite-scroll-separator
        span
            margin 0
            position absolute
            font-size 13px
            background white
            right 15px
            top -9px
            padding 0 10px

        td
            position relative

            &:after
                margin-top 0
                height 20px

    // Fold comments button
    .hnspecial-fold-comment-button
        @extend $hnspecial-text-button

    // Fixed header
    &.hnspecial-theme-sticky-header
        .hnspecial-mark-all-as-read-container
            width 900px
            margin 0 auto
            padding-left 25px !important
            padding-top 0px !important
            color white !important

            button
                color white !important
                font-weight 300 !important

        table:hover + .hnspecial-mark-all-as-read-container,
        .hnspecial-mark-all-as-read-container:hover
            height 35px

        .hnspecial-message-container
            padding-top 15px
            padding-bottom 5px

        body > center > table > tbody > tr:first-child
            height: (30px + (20px * 2))

            > td
                position fixed
                top 0
                left 0
                width 100%
                z-index 10 // Must be the topmost element on the page
                // background base-color

                > table
                    max-width 900px
                    margin 0 auto

// END Visual theme specific styles

// Mark as read
.hnspecial-mark-as-read-button
    border 0
    background-color transparent
    cursor pointer
    margin 0
    margin-right 4px
    padding 0 3px 0 0
    transition color 150ms ease

    &:hover
        color #666

    &, &:active
        color #b3b3b3


.hnspecial-mark-all-as-read-container
    transition all 150ms ease
    transition-delay 700ms

    box-sizing border-box
    overflow hidden
    height 0px
    color black
    padding-left 10px

    button
        margin-left 5px

table:hover + .hnspecial-mark-all-as-read-container, .hnspecial-mark-all-as-read-container:hover
    height 40px
    padding-top 10px

// Special message container
.hnspecial-message-container
    background white
    color lighten(text-color, 40%)
    text-align center
    font-weight 200
    padding-top 20px

// Infinite scrolling separator
.hnspecial-infinite-scroll-separator td
    span
        display block
        margin-top 10px

    &:after
        margin-top 5px
        height 17px
        content ''
        width 100%
        display block
        border-top 1px solid #ddd

// Infinite scrolling notice
.hnspecial-infinite-search-notice
    position fixed
    right 20px
    bottom 30px
    width 400px
    background menu-background
    padding 20px
    font-weight 200
    cursor pointer
    animation slide-up 800ms ease

    span
        color lighten(text-color, 40%)
        font-size 13px

    &.hnspecial-infinite-search-notice-hidden
        animation slide-out-right 450ms ease
        animation-fill-mode both

// Fold comments
.hnspecial-fold-comment-button
    @extend $text-button

.hnspecial-folded-comment
    > *:not(:first-child)
        display none

.hnspecial-folded-row
    display none

// Optional permissions iframe
.hnspecial-permissions-iframe
    border 0 none
    height 113px
    padding-top 10px
    width 100%

    &.hnspecial-permissions-iframe-small
        height 50px

html.hnspecial-theme
    &.hnspecial-permissions-iframe-inner
        background transparent
        overflow hidden

        body
            background transparent

            .hnspecial-settings-menu-inner
                padding 0

        .permissions-description
            display block
            // margin-bottom 5px

        button
            width 100%

// User tooltips
.hn-special-tooltip-container
    position absolute
    z-index 1000
    padding-top 15px
    margin-left -10px

    &.hn-special-tooltip-loaded
        width 360px

    &:before
        width 0
        height 0
        border-left 10px solid transparent
        border-right 10px solid transparent
        border-bottom 10px solid tooltip-background-color
        position absolute
        top 5px
        left 20px
        content " "

    &.hn-special-tooltip-inverted
        padding-top 0
        padding-bottom 10px

        &:before
            border-bottom none !important
            border-top 10px solid tooltip-background-color !important
            top auto
            bottom 0px


.hn-special-tooltip
    color tooltip-text-color
    background-color tooltip-background-color
    padding 15px 20px
    font-weight 200

.hn-special-tooltip-key, .hn-special-tooltip-value
    float left
    word-wrap break-word

.hn-special-tooltip-key
    font-weight 400
    width 30%

.hn-special-tooltip-value
    width 70%
    font-weight 200

.hn-special-tooltip-clear
    margin-bottom 10px
    clear both

    &:last-child
        margin-bottom 0
